<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar CPF na Black List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <style>
        .flash-message {
            color: green;
            font-size: 18px;
            margin: 10px 0;
        }
        textarea {
            width: 100%;
            min-height: 50px; 
            resize: none; 
            overflow: hidden; 
        }
    </style>
</head>
<body>
    <div id="sidebar" class="expand">
        <div class="sidebar-logo">
            <a href="#"><img src="/fotos/imagem.jpg" alt="Logo"></a>
        </div>
        <div class="sidebar-nav">
            <a class="sidebar-link" href="{{ url_for('index') }}">Pesquisar</a>
            <a class="sidebar-link" href="{{ url_for('blacklist') }}">Black List</a>
        </div>
    </div>
    <button class="toggle-btn" onclick="toggleSidebar()">
        <i class="fas fa-bars"></i>
    </button>
    <div class="main">
        <div class="wrapper">
            <div class="center-content">
                <h1>Editar CPF na Black List</h1>
                <form action="{{ url_for('update_blacklist') }}" method="post">
                    <input type="hidden" name="old_cpf" value="{{ result.cpf }}">
                    <label for="new_cpf">Novo CPF:</label><br>
                    <input type="text" id="new_cpf" name="new_cpf" value="{{ result.cpf }}" required><br><br>
                    <label for="nome">Nome:</label><br>
                    <input type="text" id="nome" name="nome" value="{{ result.nome }}" required><br><br>
                    <label for="motivo">Motivo:</label><br>
                    <textarea id="motivo" name="motivo" required>{{ result.motivo }}</textarea><br><br>
                    <button type="submit" class="btn-presenca">Atualizar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
